@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

#main {
  display: flex;
  justify-content: space-around;
  font: italic bold 1.1rem Arial;
  border: 4px solid black;
  background-color: rgb(236, 235, 234);
}

.title {
  font: normal bolder 1.4rem Arial;
}

input.calc::placeholder {
  font-style: italic;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  transition-duration: .5s;
}

form button:hover {
  background: var(--primary-color-darker);
}

#res {
  background-color: #01FEC2;
  text-indent: 5px;
  text-align: center;
}